<label>Fire Mode
                    {{> components/select name="firemode" options=this.firemode}}
                    <div if="firemode === 'SS'">
                        <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                            <span>Defense Modifier: 0</span>
                            <span>Number of Rounds: 1</span>
                            <span>Notes: No Recoil</span>
                        </div>
                    </div>
                    <div if="firemode === 'SA'">
                        <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                            <span>Defense Modifier: 0</span>
                            <span>Number of Rounds: 1</span>
                            <span>Notes:</span>
                        </div>
                    </div>
                    <div if="firemode === 'SB'">
                        <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                            <span>Defense Modifier: -2</span>
                            <span>Number of Rounds: 3</span>
                            <span>Notes:</span>
                        </div>
                    </div>
                    <div if="firemode === 'BF'">
                        <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                            <span>Defense Modifier: -2</span>
                            <span>Number of Rounds: 3</span>
                            <span>Notes:</span>
                        </div>
                    </div>
                    <div if="firemode === 'LB'">
                        <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                            <span>Defense Modifier: -5</span>
                            <span>Number of Rounds: 6</span>
                            <span>Notes: or Full Auto (Simple)</span>
                        </div>
                    </div>
                    <div if="firemode === 'FA'">
                        <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                            <span>Defense Modifier: -9</span>
                            <span>Number of Rounds: 10</span>
                            <span>Notes:</span>
                        </div>
                    </div>
                    <div if="firemode === 'SF'">
                        <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                            <span>Defense Modifier: Duck or Cover</span>
                            <span>Number of Rounds: 20</span>
                            <span>Notes: No Recoil</span>
                        </div>
                    </div>
                </label>

                <h2>Recoil</h2>
                <div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">
                    {{> components/number title="Weapon Compensation" min="0" default="0" name="rc"}}
                    {{> components/number title="Body / Strength" min="0" default="0" name="brc"}}
                    {{> components/number title="Progressive Recoil" min="0" default="0" name="prc"}}
                    <label>Rounds to be fired<br />
                        <output type="number" min="0" name="fmr" calculated-value="firemodeRounds" />
                    </label>
                </div>
                <p>
                    Total Modifier due to Recoil: <output calculated-value="totalRecoil"></output>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Situational Modifiers Table</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{> components/checkbox title='Environmental Situation' name='renvironmental'}}</td>
                            <td><output calculated-value="environmental"></output></td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Attacker firing from cover with imaging device' name='imaging'}}</td>
                            <td>-3</td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Attacker firing from a moving vehicle' name='moving'}}</td>
                            <td>-2</td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Attacker in melee combat' name='inMelee'}}</td>
                            <td>-3</td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Attacker running' name='running'}}</td>
                            <td>-2</td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Attacker using off-hand weapon' name='offHand'}}</td>
                            <td>-2</td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Attacker wounded' name='woundedModifier'}}</td>
                            <td><output calculated-value="awounds"></output></td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Blind fire' name='blindfire'}}</td>
                            <td>-6</td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Called Shot' name='calledShot'}}</td>
                            <td>-4</td>
                        </tr>
                        <tr>
                            <td>{{> components/inumber title='Previously aimed with Take Aim' name='takeAim' default="0" min="0"}}</td>
                            <td>+1 Dice Pool, +1 Accurracy</td>
                        </tr>
                        <tr>
                            <td>{{> components/checkbox title='Wireless Smartgun' name='hasSmartgun'}}</td>
                            <td>{{> components/select name="smartgun" options=this.smartgunPlatform}}</td>
                        </tr>
                    </tbody>
                </table>


                <h2>Total Modifiers</h2>
                <div>
                    Dicepool: <output calculated-value="rangedDicepool"></output><br />
                    Accuracy: <output calculated-value="rangedAccuracy"></output><br />
                    Defense Modifier: <output calculated-value="rangedDefense"></output><br />
                </div>