<!--
<h1 if="opposedTest">
    Threshold
</h1>
<div if="testType === 'success'"    >
    <table>
    <thead>
        <tr>
            <th>Success Test Threshold</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{> components/checkbox title='Defender inside a moving vehicle' name='dmoving'}}</td>
            <td>+3</td>
        </tr>
    </tbody>
</table>
</div>
    <div if="testType === 'extended'">
        <table>
            <thead>
                <tr>
                    <th>Extended Test Threshold</th>
                </tr>
            </thead>
             <tbody>
                <tr>
                    <td>Easy</td>
                    <td>6</td>
                </tr>
                 <tr>
                    <td>Average</td>
                    <td>12</td>
                </tr> <tr>
                    <td>Hard</td>
                    <td>18</td>
                </tr> <tr>
                    <td>Very Hard</td>
                    <td>24</td>
                </tr> <tr>
                    <td>Extreme</td>
                    <td>30+</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Extended Test Interval</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fast</td>
                    <td>1 Combat Turn</td>
                </tr>
                 <tr>
                    <td>Quick</td>
                    <td>1 Minute</td>
                </tr> <tr>
                    <td>Short</td>
                    <td>10 Minutes</td>
                </tr> <tr>
                    <td>Average</td>
                    <td>30 minutes</td>
                </tr> <tr>
                    <td>Long</td>
                    <td>1 hour</td>
                </tr> <tr>
                    <td>Consuming</td>
                    <td>1 day</td>
                </tr> <tr>
                    <td>Exhaustive</td>
                    <td>1 week</td>
                </tr> <tr>
                    <td>Mammoth</td>
                    <td>1 month</td>
                </tr>
            </tbody>
        </table>
    </div>
<h2>Total Threshold</h2>
<div>
    Threshold: <output calculated-value="threshold"></output><br />

</div>
-->