<table>
    <thead>
        <tr>
            <th>Reloading Weapons</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Removable Clip (c)</td>
            <td>Remove or insert Clip</td>
            <td>Simple Action</td>
        </tr>
        <tr>
            <td>Speed Loader</td>
            <td>Use speed loader to completely load gun</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Fill Clip</td>
            <td>Insert (Agility) rounds into clip</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Break Action (b)</td>
            <td>Insert 2 rounds</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Belt fed (belt)</td>
            <td>Remove or insert belt</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Fill Belt/Drum</td>
            <td>Insert (Agility) rounds into belt/drum</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Internal Magazine (m)</td>
            <td>Insert (Agility) rounds</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Muzzle-Loader (ml)</td>
            <td>Insert 1 muzzle tube</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Cylinder (cy)</td>
            <td>Insert (Agility) rounds into belt</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Drum (d)</td>
            <td>Remove or insert drum</td>
            <td>Complex Action</td>
        </tr>
        <tr>
            <td>Bow</td>
            <td>Nock 1 arrow</td>
            <td>Simple Action</td>
        </tr>

    </tbody>
</table>