<h2>Situation Modifiers</h2>
Remember that you can compensate environmental modifiers, to do that just choose the modified option
intead.
<br />
<div style="display: grid; grid-auto-columns: 1fr; grid-auto-flow: column;">

    <label>Visibility
        {{> components/select name="visibility" options=options.visibility}}
    </label>


    <label>Light / Glare
        {{> components/select name="light" options=options.light}}
    </label>


    <label>Wind
        {{> components/select name="wind" options=options.wind}}
    </label>

    <label>Range
        {{> components/select name="range" options=options.range}}
    </label>


</div>
