<details open>
    <summary>Page Navigation</summary>
    <nav>
        <ul>
            {{#each this.links}}
            <li><a href="{{this.href}}">{{this.title}}</a></li>
            {{/each}}
            <li><a href="/">Back to Main Menu</a></li>
        </ul>     
    </nav>
</details>