<article>
    {{{this.content}}}
</article>

<h2>Archived Data Logs</h2>
{{#each _contents}}
    <article>
    {{#mirror this}}
        {{{md summary}}}
    {{/mirror}}
    <a href="/{{this}}">read more&hellip;</a>
    </article>
{{/each}}


{{> links links=this._links}}