<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>

    <header>
        <svg id="topleft" width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path d="M24,0C21.336,0.008 18.686,0.439 16.167,1.31C12.829,2.463 9.764,4.364 7.238,6.83C4.609,9.397 2.58,12.562 1.358,16.028C0.473,18.539 0.026,21.184 0,23.845L0,24L0,0L24,0Z"/>
        </svg>
        <svg id="topright" width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path d="M24,0C21.336,0.008 18.686,0.439 16.167,1.31C12.829,2.463 9.764,4.364 7.238,6.83C4.609,9.397 2.58,12.562 1.358,16.028C0.473,18.539 0.026,21.184 0,23.845L0,24L0,0L24,0Z"/>
        </svg>

        <h1>
            {{title}}
        </h1>
       <div class="button-group">
        {{#if loggedIn}}
        <button onclick="logout()" class="iec_Symbols">⏻</button>
        <script>
            function logout() {
                location.href = '/logout';
            }
        </script>
        <button onclick="edit('{{title}}')">edit</button>
        <script>
            function edit(fileName) {
                location.href = '/edit?file='+ fileName;
            }
        </script>
        {{else}}
        <button onclick="login()" class="iec_Symbols">⏽</button>
        <script>
            function login() {
                location.href = '/login';
            }
        </script>
        {{/if}}
        </div>
        
    </header>
    {{> (lookup . '_view')}}

    {{> meta}}
    
</body>
</html>