<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{this.title}}</title>
    <link href="./style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
</head>
<body>

    <header>
        <h1>
            {{title}}
        </h1>
        <button onclick="edit('{{title}}')">edit</button>
        <script>
            function edit(fileName) {
                location.href = '/edit?file='+ fileName;
            }
        </script>
    </header>
    {{> (lookup . '_view')}}

    {{> meta}}
    
</body>
</html>