@font-face { 
    font-family: "rexlia"; 
    src: url("/rexlia.ttf"); 
}

@font-face {
    font-family: 'power_symbols';
    src: url('/Unicode_IEC_symbol.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WarText';
    src: url('/WarText.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    padding: 0;
    margin: 12pt;

    --accent: hsl(209, 100%, 26%);
    --text: hsl(209, 100%, 75%);
    --chrome: hsl(209, 100%, 10%);
    --chrome-dark: hsl(209, 100%, 5%);
    --chrome-text: hsl(209, 100%, 70%);

    --hypertext: hsl(209,100%, 80%);
    --hypertext-hover: hsl(209, 100%, 85%);
}

.iec_Symbols {
    font-family: 'power_symbols';
}

header h1 {
    background-color: var(--chrome);
    margin: -12pt;
    padding: 12pt;
    font-size: 18pt;
    position: relative;
    margin-bottom: 30pt;
    color: var(--chrome-text);
    text-transform: uppercase;
}

header .button-group {
    position: absolute;
    right: 8pt;
    top: 8px;
    width: fit-content;
}
header .button-group button {
    float: right;
    margin-left: 8pt;
}

header button {
    height: 48pt;
    width: 48pt;
    background-color: var(--chrome-dark);
    border: 1px solid var(--accent);
    color: var(--chrome-text);
    text-transform: uppercase;
}
header button:before {
    content: '';
}

footer label {
    display: inline-block;
    margin: 0;
    padding: 0;
}

header h1:before {
    position: absolute;
    border: 30pt solid var(--chrome);
    border-color: transparent var(--chrome) transparent transparent;
    border-width: 0 48pt 24pt 0;
    right: 25%;
    width: 24pt;
    top: 24pt;
    height: 12pt;
    display: block;
    content: '';
}
header h1:after {
    position: absolute;
    background-color: var(--chrome);
    right: 0;
    left: 75%;
    width: 25%;
    top: 24pt;
    height: 36pt;
    display: block;
    content: '';
}

h2,h3 {
   color: var(--text);
    text-transform: uppercase;
}

select {
    background-color: black;
    border: 1px solid var(--accent);
}

button {
    background-color: transparent;
    color: var(--text);
    border: 0;
    height: 12pt;
    line-height: 12pt;
    padding: 0;
    margin-bottom: 12pt;
    cursor: pointer;
    display: block;
}

button::before {
    content: '> ';
}

.meta {
    color: var(--chrome-text);
    background-color: var(--chrome);
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

hr {
    margin-bottom: 6pt;
    padding-bottom: 6pt;
    border: 0;
    border-bottom: 2px solid var(--accent);
}

table {
    border: 8pt solid var(--chrome);
    border-left: 0;
    border-right: 0;
    position: relative;
    margin: 24pt 0;
}

aside {
    float: left;
}

table thead tr {
    position: absolute;
    top: -12pt;
    z-index: 5;
}

table >*:first-child:before {
    position: absolute;
    border: 30pt solid var(--chrome);
    border-color: transparent transparent transparent var(--chrome);
    border-width: 12pt 0 0 24pt;
    left: 90%;
    width: 24pt;
    top: -12pt;
    height: 6pt;
    display: block;
    content: '';
}
table >*:first-child:after {
    position: absolute;
    background-color: var(--chrome);
    left: 0;
    width: 90%;
    top: -12pt;
    height: 12pt;
    display: block;
    content: '';
}

table:before {
    position: absolute;
    border: 30pt solid var(--chrome);
    border-color: transparent var(--chrome) transparent transparent;
    border-width: 0 24pt 12pt 0;
    left: 0;
    width: 24pt;
    bottom: -12pt;
    height: 6pt;
    display: block;
    content: '';
}
table:after {
    position: absolute;
    background-color: var(--chrome);
    right: 0;
    margin-left: 48pt;
    left: 0;
    bottom: -12pt;
    height: 12pt;
    display: block;
    content: '';
}

strong {
    color: var(--chrome-text);
    font-weight: normal;
}

td {
    font-weight: lighter;
}

header * {
    color: var(--chrome-text);
    font-family: rexlia, cursive;
    font-size: 12pt;
    line-height: 12pt;
    text-shadow: 1px 1px 3px var(--accent);
}

* {
    color: var(--text);
    font-family: 'WarText', cursive;
    font-size: 24pt;
    line-height: 24pt;
    color: white;
    text-shadow: 1px 1px 3px var(--text);
    
}

label {
    display: block;
    color: var(--chrome-text);
    background-color: var(--chrome);
    margin: 12pt 0;
    padding: 0 8px 4px 4px;
    
}

label input, label textarea {
    display: block;
    background-color: black;
    border: 0;
    margin: 0;
    width: 100%;
}

li:nth-child(even) {
    background-color: 
}

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
    color: var(--hypertext);
}
a:hover {
    color: var(--hypertext-hover);
}
:not(nav ul li) a::before {
    content: '[ ';
}
:not(nav ul li) a::after {
    content: ' ]';
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    text-indent: 0;
    margin: 0;
    padding: 0;
}
nav ul li:before {
    content:'> ';
}

article {
    padding-bottom: 12pt;
}


body {
    padding: 32pt 0 48pt 0;    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12pt;
    z-index: 5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 12pt;
    margin: 0;
}